#----------------------------------#
# CONFIGURATION PRINCIPALE COWRIE 
#----------------------------------#

[cowrie]
# Nom du faux serveur (visible dans le prompt SSH)
# Sert à montrer que la config est bien prise en compte
hostname = HAFSA-HP


#----------------------------------#
# CONFIGURATION SSH
#----------------------------------#

[ssh]
# Cowrie écoute sur le port 2222
# interface=0.0.0.0 = accepte toutes les connexions
listen_endpoints = tcp:2222:interface=0.0.0.0


#----------------------------------#
# AUTHENTIFICATION
#----------------------------------#

[auth]

# IMPORTANT :
# false = on désactive le mode "accepte tout"
# true  = accepte n'importe quel mot de passe (pas sécurisé pour tests)
auth_none_enabled = false


# On force l'utilisation du fichier userdb.txt
# (liste des comptes autorisés)
auth_class = UserDB


# Chemin du fichier des utilisateurs
# Doit correspondre au volume Docker
userdb = /cowrie/cowrie-git/etc/userdb.txt
allow_root = true

# Honeypot mode : accepter après N échecs
accept_after = 5

#----------------------------------#
# LOGS (OPTIONNEL MAIS UTILE)
#----------------------------------#

[output_jsonlog]

# Active les logs JSON (utilisés par ton collector)
enabled = true

# Chemin du fichier de log
logfile = /cowrie/var/log/cowrie/cowrie.json
