#----------------------------------#
# Python
#----------------------------------#

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

#----------------------------------#
# Logs
#----------------------------------#

*.log
logs/
*.jsonl

#----------------------------------#
# Database
#----------------------------------#

db/*.db
db/*.sqlite
db/*.sqlite3

#----------------------------------#
# Docker
#----------------------------------#

*.pid
docker-data/
volumes/

#----------------------------------#
# OS / Editor
#----------------------------------#

.DS_Store
Thumbs.db

.vscode/
.idea/

#----------------------------------#
# Temporary files
#----------------------------------#

*.tmp
*.temp
*.swp
*.bak

#----------------------------------#
# Security (important)
#----------------------------------#

*.key
*.pem
*.crt
.env

#----------------------------------#
# Reports exports
#----------------------------------#

*.pdf
*.zip
*.tar.gz
